body {
    background-image: url(night-back.png);
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 16px;    
}

.container {
    width: 1200px;
    margin: 0 auto;
}
/*header styling*/
.container-body {
    width: 1200px;
    margin: 0 auto;
    
}

.main-info {
    text-align: center;
    width: 600px;
    position: relative;
    padding: 10px 260px 10px;
    font-size: 25px;
    
}
.about-me {
    
    margin-top: -42px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    background: #fafafa;
  border:0.1em solid #FFFFFF;
}
.main-name {
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
}
.descrive-myself {
    margin-top: -20px;
    padding: 15px;
    background-color: rgba(2, 32, 59, .5);
    
}
.contact-links {
    padding: 10px 200px 40px;
}
/* Links decoration */
a:link {
    text-decoration: none;  
 }
a:hover {
    color: rgb(255, 147, 147);
 }
 a:visited {
    color: rgb(255, 58, 58);
  }
.contact-img {
    width: 40px;
    float: left;
    padding-left: 42px;
}
.contact-text {
    color: white;
    position: relative;
    float: left;
    padding: 10px 8px 8px;    
}
/*main page styling*/
/*Skills styling*/
.container-skills {
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    background: rgba(15, 62, 104, 0.99);    
}
.skills {
    text-align: left;
    font-size: 20px;
}
.h3text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 550px;
    padding-right:50px;
    background: rgba(0, 7, 13, 0.65);    
    border:0.1em ;
    text-align: center;
    padding: 20px 10px 15px;
    font-family: changa, sans-serif;
    letter-spacing: 6px;
}    

.front-end {
    display: inline-block;
    margin: auto;
    width: 34%;
    padding-left: 100px;
}
.others {
    width: 22%;
    float: right;
}
.back-end {
    display: inline-block;
}
/* change bullet points to checkmarks */
ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    margin-right: 12px;
  }
/*Projects*/
.container-projects {
    width: 1200px;
    height: 650px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.25);
    font-size: 20px; 
    background: rgba(15, 62, 104, 0.99);
}
.project-box {
    width: 700px;
    padding-left: 82px;
    float: left;
}
.pic-project {
    width: 300px;
    float: right;
    padding: 65px 82px 15px 10px;
}
/* Go live and github links in projects */

.project-links-image {
    width: 25px;
    float: left;
    padding-right: 7px;
}
.small-size-projects {
    font-size: 14px;
    padding-top: 5px;
    padding-right: 20px;
    color: white;
}
.small-size-projects:visited {
    color: rgb(255, 58, 58);
}
.project-links {
    display: inline-block;
}

/*Work experinece*/
.container-experience{
    width: 1200px;
    height: 390px;
    margin: 0 auto;
    background: rgba(15, 62, 104, 0.99);;
    font-size: 20px;
    
}

 
.work-exp1 {
    width: 400px;
    margin-left: 82px;
    position: relative;
    float: left;
}
.work-exp2 {
    width: 400px;
    margin-left: 82px;
    position: relative;
    float: right;
    margin-right: 82px;
}
.small-size {
    font-size: 15px;
}
/* Education */
.container-education {
    width: 1200px;
    height: 260px;
    margin: 0 auto;
    background: rgba(15, 62, 104, 0.99);
    font-size: 20px;
}
.education1 {
    padding: 20px 82px 0px;
}

/* Footer */
.f-image {
    position: relative;
    margin: 0 auto;
    float: left;
    margin-top: -1100px;
    margin-left: -170px;
    z-index: -1;
    padding-bottom: 10px;
    
    
}
.footer {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}