body {
    background-image: url(night-back.png);
    background-color: black;
    color: white;
    font-family: sans-serif;

}

.container {
    width: 1200px;
    margin: 0 auto;
}
/*header styling*/
.container-body {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
}

.main-info {
    text-align: center;
    width: 600px;
    position: relative;
    padding: 10px 260px 10px;
    font-size: 25px;
}
.about-me {
    
    margin-top: -42px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
}
.main-name {
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
}
.descrive-myself {
    margin-top: -20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .3);
}
.contact-links {
    padding: 10px 200px 10px;
}
.contact-img {
    width: 40px;
    float: left;
    padding-left: 42px;
}
.contact-text {
    color: red;
    position: relative;
    float: left;
    padding: 10px 8px 8px;    
}
/*main page styling*/
/*Skills styling*/
.container-skills {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
}
.skills {
    text-align: left;
    font-size: 20px;
}
.line1 {
    border: 1px solid white;
}  

.h3description {
    color: white;
    text-align: center;
    padding: 20px 10px 0px;
    font-family: 'Changa', sans-serif;
    
}

.front-end {
    display: inline-block;
    margin: auto;
    width: 35%;
    border: 3px ;
    padding-left: 100px;
    
}
.others {
    width: 16%;
    border: 3px ;
    float: right;
    
}
.back-end {
    display: inline-block;
    width: 10%;
    border: 3px ;
}
/*Projects*/
.container-projects {
    width: 1200px;
    height: 650px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
    
}
.project-box {
    width: 700px;
    padding-left: 82px;
    float: left;
}
.pic-project {
    width: 300px;
    float: right;
    padding: 65px 82px 15px 10px;
}
/* Go live and github links in projects */

.project-links-image {
    width: 25px;
    float: left;
    padding-right: 7px;
}
.small-size-projects {
    font-size: 14px;
    padding-top: 5px;
    padding-right: 20px;
}
.project-links {
    display: inline-block;
}

/*Work experinece*/
.container-experience{
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
    
}
.h3experience {
    text-align: center;
    padding-top: 30px;
    color: White;
}
.line2 {
    border: 1px solid white;  
}  
.work-exp1 {
    width: 400px;
    margin-left: 82px;
    position: relative;
    float: left;
}
.work-exp2 {
    width: 400px;
    margin-left: 82px;
    position: relative;
    float: right;
    margin-right: 82px;
}
.small-size {
    font-size: 15px;
}
/* Education */
.container-education {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
}
.education1 {
    padding: 20px 82px 0px;
}

/* Footer */
.f-image {
    position: relative;
    margin: 0 auto;
    float: left;
    margin-top: -1100px;
    margin-left: -170px;
    z-index: -1;
}